.tagItem {  
    border-radius: 3px;
    margin-left: 5px;
    padding: 5px;
    display: inline-block;
    border: 1px solid black;   
    font-weight: bold;
    margin: 5px;
}
 .closeTagButton {
     background-color: white;
     border: none;
 }